name: Publish pkg

on:
  push:
  workflow_dispatch:

defaults:
  run:
    shell: bash
    working-directory: sample-packages/docker

jobs:
  publish:
    runs-on: ubuntu-latest

    env:
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

    steps:
      - uses: actions/checkout@v2

      - run: |
          echo $GITHUB_TOKEN | docker login ghcr.io -u USERNAME --password-stdin

          docker build -t ghcr.io/hkklv/test:latest .

          docker push ghcr.io/hkklv/test:latest
      
      
        
